*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image: url(/trees-3294681_1920.jpg);
    display: grid;
    place-items: center;
}
#card {
    width: 40%;
    height: 720px;
    border-radius: 30px;
    margin: 40px;
    border: 2px solid rgb(204, 153, 102);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#weather {
    border-radius: 30px;
    width: 100%;
    height: 80%;
    color:#ffffff;
    
}
#weather img{
    max-width:100%;
    width:300px;
    float:right;
}
#weather h1{
    font-size: 8em;
    text-align:center;
    padding-top:40px;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#weather h2{
    font-size:3em;
    margin-top: 50px;
    margin-left:20px;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#weather h3{
    font-size:2em;
    text-shadow: 0.1em 0.1em 0.2em black;
    margin-left:20px;
}
#weather p {
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 1.5em;
    margin-left: 20px;
}



/**<meta http-equiv="refresh" content="2" />*/


